<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" >Logo</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" ng-click="menuClick()">Home <span class="sr-only">(current)</span></a></li>
                <li><a ng-href="#/about" ng-click="menuClick()">About</a></li>
                <!-- <li><a ng-href="#/services" ng-click="menuClick()">Services</a></li>
                <li><a ng-href="#/contact-us" ng-click="menuClick()">Contact us</a></li>
                <li><a ng-href="#/carrier" ng-click="menuClick()">Carrier</a></li> -->
            </ul>
            <ul class="nav navbar-nav" ng-show="$root.isAuthenticated">
                <!-- <li><a ng-href="#/partyWorkers" ng-click="menuClick()">Issues</a></li> -->
                <!-- <li><a ng-href="#/PeopleIssues" ng-click="menuClick()">People issues</a></li> -->
				<li><a ng-href="#/services" ng-click="menuClick()">Services</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="menuClick()">Action1</a></li>
                        <li><a href="#" ng-click="menuClick()">Action1</a></li>
                        <li><a href="#" ng-click="menuClick()">Action1</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/login" ng-hide="$root.isAuthenticated" ng-click="menuClick()">Login</a></li>
                <li><a ng-show="$root.isAuthenticated" ng-click="logout()" >Log out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--<li><a ng-href="#/about" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">About</a></li>-->

