 
<form class="form-inline">
    <h3>People issues </h3>
    <div class="form-group">
        <label  for="Select1">Booth/Ward Name</label>
        <select id="Select1" class="form-control">
            <option>Select Booth/Ward Name</option>
            <option>Action</option>
            <option>Another action</option>
            <option>Something else here</option>
            <option>Separated link</option>
        </select>
    </div>
    
    <button type="button" class="btn btn-primary">Click here</button>
</form>

 